<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.qicheng.suanming"
    android:versionCode="3"
    android:versionName="3.1.0">

    <!-- 访问互联网权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <!--友盟统计所需权限-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE"></uses-permission>

    <application
        android:name=".ui.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo"
        android:supportsRtl="true"
        android:theme="@style/NoActionTheme"
        android:usesCleartextTraffic="true">
        <!--value的值填写你在友盟后台申请的应用Appkey-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="5ea130ef978eea083f0c896e" />
        <!--value的值填写渠道名称，例如yingyongbao。这里设置动态渠道名称变量-->
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <activity android:name=".ui.bazijingpi.BaziJingPiActivity"></activity>
        <activity android:name=".ui.caiyun.CaiyunActivity" />
        <activity android:name=".ui.mouseYear.MouseYearActivity" />
        <activity android:name=".ui.yuelao.YuelaoActivity" />
        <activity android:name=".ui.SplashActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.LoginActivity" />
        <activity android:name=".ui.MainActivity" />
        <activity android:name=".ui.mine.MineBeiyongActivity" />
        <activity android:name=".ui.mine.MineUserActivity" />
        <activity android:name=".ui.mine.MineOrderActivity" />
        <activity android:name=".ui.mine.MineKeFuActivity" />
        <activity android:name=".ui.mine.MineFeedbackActivity" />
        <activity android:name=".ui.mine.MineAboutMeActivity" /> <!-- 起名-> 八字 -->
        <activity android:name=".ui.qiming.QimingDetailActivity" />
        <activity android:name=".ui.bazi.BaziHehunActivity" />
        <activity android:name=".ui.webView.NamePayActivity" />
        <activity android:name=".ui.jiemeng.JiemengActivity" />
        <activity android:name=".ui.jiemeng.JiemengListActivity" />
        <activity android:name=".ui.jiemeng.JiemengDetailActivity" />
        <activity android:name=".ui.webView.PrivacyActivty" />
        <activity android:name=".ui.BindPhoneActivity" />
        <activity android:name=".ui.Article.ArticleActivity" />
        <activity android:name=".ui.Article.ArticleDetailActivity" />
        <activity android:name=".ui.DashiZixunPayActivity" />
        <activity android:name=".ui.SelectServerActivity" />
        <activity android:name=".ui.MoreEvaluateActivity" />
        <activity android:name=".ui.DashiInfoActivity" />

        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/dialogStyle" />

        <activity-alias
            android:name="com.cmic.sso.sdk.activity.LoginAuthActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:targetActivity="com.chuanglan.shanyan_sdk.view.CmccLoginActivity"
            android:theme="@style/dialogStyle" />

        <activity
            android:name="com.chuanglan.shanyan_sdk.view.ShanYanOneKeyActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:theme="@style/dialogStyle" />

        <activity
            android:name="com.chuanglan.shanyan_sdk.view.CTCCPrivacyProtocolActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:launchMode="singleTop"
            android:screenOrientation="behind"
            android:theme="@style/dialogStyle" />

        <!--        微信登录页-->
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:exported="true"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="wx10f0e8af9e8031c3" />
            </intent-filter>
        </activity>
    </application>

</manifest>